<div class='flex flex-col'>
  <div class="flex items-center mb-4">
    <img src="img/man-astronaut.png" alt="" class="w-9 h-9 mr-3">
    <h3 class='font-black text-2xl mb-[-15px]'>Crie sua conta </h3>
  </div>

  <form class='max-w-sm'>

    <label class='font-semibold text-sm'>Nome</label>
    <input class='bg-white border-[1px] dark:border-[0] w-full h-11 p-4 
              rounded-md mt-2 mb-4 dark:bg-[#3D404b] placeholder:text-sm' type="text"
      placeholder="Digite seu e-mail" />


    <label class='font-semibold text-sm'>E-mail</label>
    <input class='bg-white border-[1px] dark:border-[0] w-full h-11 p-4 
              rounded-md mt-2 mb-4 dark:bg-[#3D404b] placeholder:text-sm' type="email"
      placeholder="Digite seu e-mail" />


    <label class='font-semibold text-sm'>Senha</label>
    <input class='bg-white border-[1px] dark:border-[0] w-full h-11 p-4 
              rounded-md mt-2 mb-4 dark:bg-[#3D404b] placeholder:text-sm' type="password"
      placeholder="Digite sua senha" />


    <button class='bg-[#287194] font-bold w-full border-[0] p-3 
              text-white shadow-[0px 8px 26px rgba(0, 222, 254, 0.36)] 
              rounded-md my-3 cursor-pointer'>
      Cadastrar
    </button>
  </form>
</div>