<div class='flex flex-col'>
  <h3 class='font-black mb-6 text-2xl'>Login</h3>
  <form class='max-w-sm'>
    <label class='font-semibold text-sm'>E-mail</label>
    <input class='bg-white border-[1px] dark:border-[0] w-full h-11 p-4 
            rounded-md mt-2 mb-4 dark:bg-[#3D404b] placeholder:text-sm' type="text"
      placeholder="Digite seu e-mail" />



    <label class='font-semibold text-sm'>Senha</label>
    <input class='bg-white border-[1px] dark:border-[0] w-full h-11 p-4 
            rounded-md mt-2 mb-4 dark:bg-[#3D404b] placeholder:text-sm' type="password"
      placeholder="Digite sua senha" />


    <div class='flex items-center justify-between text-xs'>
      <label class='text-[#9BA1AE]'>
        <input class='mr-1 w-4 h-4
                  checked:bg-[#00DEFE] border-[#3D404b]
                  ' type="checkbox" />Lembrar senha
      </label>
      <a href="">Esqueceu sua senha?</a>
    </div>

    <button class='bg-[#287194] font-bold w-full border-[0] p-3 
            text-white shadow-[0px 8px 26px rgba(0, 222, 254, 0.36)] 
            rounded-md my-3 cursor-pointer'>
      Login
    </button>

    <small class=''>
      Não está registrado? <a class='text-[#287194] font-semibold' href="#">Crie sua conta</a>
    </small>
  </form>
</div>